{
  "presets": [
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    "@babel/proposal-class-properties"
  ],
  "env": {
    "production-esm": {
      "presets": [
        ["@babel/env", { "modules": false }],
        "@babel/react"
      ],
      "plugins": [
        "@babel/proposal-class-properties"
      ]
    }
  }
}
